<% content_for :header do %>
 <h1>List View Helper</h1>
<% end %>

<h1>List View Helper</h1>

<h2>Read only list</h2>

<%= basic_list @posts.map{|x| x.title}, {'data-theme'=>'b'} %>

<br/>

<h2>Basic linked list</h2>

<%= basic_list @posts.map{|x| link_to(x.title, post_path(x))} %>

<br />


<h2>Basic linked list</h2>

<p>data-inset='true' is default</p>
<p>data-theme='c' is jquery-mobile default</p>
<%= basic_list @posts.map{|x| link_to(x.title, post_path(x))} %>

<br /><br />

<h2>Nested List</h2>

<%= nested_list @posts.map{|x| link_to(x.title, post_path(x))} %>

<br /><br />

<h2>Basic linked list inset option false, data-theme = 'a'</h2>

<%= basic_list(@posts.map{|x| link_to(x.title, post_path(x))}, {'data-inset' => 'false', 'data-theme' => 'a'}) %>

<br />

<h2>Basic numbered list</h2>

<%= numbered_list(@posts.map{|x| link_to(x.title, post_path(x))}) %>
<br /><br />

<h2>Split Button  List</h2>

<% @posts.each do |post| %>
<%= split_button_list(post.name, post_path(post))%>
<% end %>


<h2>Count Bubble List</h2>

<%= count_bubble(@posts.map do |x| [x.title, link_to(x.title, post_path(x))] end)%>


<br /><br />

<h2>Thumbnails List</h2>

<%= thumbnail_list(@posts.collect do |x|
	  [image_tag('https://github.com/jquery/jquery-mobile/raw/master/docs/lists/images/album-bb.jpg'),
	  link_to(x.title, post_path(x)),
	  x.title]
	end) %>


<br /><br />

<h2>Icon List</h2>

<%= icon_list(@posts.map do |x|
	  [image_tag('https://github.com/jquery/jquery-mobile/blob/master/docs/lists/images/gb.png', :class => "ui-li-icon"),
	  link_to(x.title, post_path(x))]
	end) %>


<br /><br />

<h2>Search Filter List</h2>

<%= search_filter_list(@posts.map{|x| link_to(x.title, post_path(x))}) %>

<br /><br />

<h2>List Performance Test</h2>

<%= search_filter_list(@posts.map{|x| link_to(x.title, post_path(x))}, {'data-theme' => "d"}) %>

<br /><br />

<h2>Inset linked list</h2>
<p>data-inset='true' is default</p>
<p>data-theme='c' is default</p>
<%= inset_list @posts.map{|x| link_to(x.title, post_path(x))} %>
<br />
<p>Set data-theme='b'</p>
<%= inset_list @posts.map{|x| link_to(x.title, post_path(x))}, {'data-theme' => "b"} %>
<br /><br />

<h2>Inset Order linked list</h2>
<p>data-inset='true' is default</p>
<p>data-theme='c' is default</p>
<%= ol_inset_list @posts.map{|x| link_to(x.title, post_path(x))} %>
<br />
<p>Set data-theme='b'</p>
<%= ol_inset_list @posts.map{|x| link_to(x.title, post_path(x))}, {'data-theme' => "a"} %>
<br /><br />


<br /><br />
<%= link_to 'New Post', new_post_path %>

