<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag "jquery.mobile-1.0a3.min" %>
  <%= javascript_include_tag "jquery-1.5.min", "jquery.mobile-1.0a3.min" %>
  <%= csrf_meta_tag %>
</head>

<body>
	
  <div data-role="page">

      <!-- header part -->
      <div data-role="header" data-position="inline" data-backbtn="true">

	<%= header_toolbar_title('EW CORE') %>
        <%= header_toolbar_link('Toolbar',toolbars_path, {'data-icon'=>"gear", 'data-iconpos' => 'notext', 'data-theme' => 'c'}) %>
        <%= header_toolbar_link('Homies',root_path, {'data-icon'=>"check", 'data-theme'=>'b'}) %>


        <%#= navbar_bar %>

        <%#*<div data-role="navbar">%>
          <%= navbar_bar([navbar_link('list view',posts_path,{'data-icon' => 'gear', 'class' => 'ui-btn-active'}),navbar_link('button view',buttons_path,{'data-icon' => 'gear'}),navbar_link('toolbar view',toolbars_path,{'data-icon' => 'home'})]) %>
          
<%#*</div><!-- /navbar -->%>
        
      </div>
      
      <!-- end header part -->

	<div data-role="content">
          <% page = request.fullpath %>
       <% page_url = page.split(/[0-9]/)[0].gsub('/',"") %>
<p>testing</p><%= page_url %>
      <%= yield %>
	</div>
	
	<div data-role="footer">
	  <h4>Page Footer</h4>
	</div><!-- /footer -->
		
  </div>
</body>
</html>
