<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag "jquery.mobile-1.0a3.min" %>
  <%= javascript_include_tag "jquery-1.5.min" %>
  <script type="text/javascript" charset="utf-8">
  $(document).bind("mobileinit", function(){
	$.mobile.ajaxFormsEnabled = false;
  });
  </script>>
  <%= javascript_include_tag "jquery.mobile-1.0a3.min" %>
  <%= csrf_meta_tag %>
</head>

<body>
	
  <div data-role="page">

      <!-- header part -->
      <div data-role="header" data-position="fixed" data-backbtn="true">

  	    <%= header_toolbar_title('EW CORE') %>
        <%= header_toolbar_link('Toolbar',toolbars_path, {'data-icon'=>"gear", 'data-iconpos' => 'notext', 'data-theme' => 'c'}) %>
        <%= header_toolbar_link('Homies',root_path, {'data-icon'=>"check", 'data-theme'=>'b'}) %>

		<% link_collection = [
			navbar_link('list view',root_path,{'data-icon' => 'gear','data-theme' => 'c', 'class' => 'ui-btn-active'}),
			navbar_link('button view',buttons_path,{'data-icon' => 'gear'}),
			navbar_link('toolbar view',toolbars_path,{'data-icon' => 'home'}),
			navbar_link('form helpers', forms_path)] %>

        <%= navbar_bar(link_collection) %>
          
      </div>
      
      <!-- end header part -->

	<div data-role="content">
      <%= yield %>
	</div>
	
	<div data-role="footer">
	  <h4>Page Footer</h4>
	</div><!-- /footer -->
		
  </div>
</body>
</html>
