<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag "jquery.mobile-1.0a3.min" %>
  <%= javascript_include_tag "jquery-1.5.min", "jquery.mobile-1.0a3.min" %>
  <%= csrf_meta_tag %>
</head>

<body>
	
  <div data-role="page">

      <!-- header part -->
      <div data-role="header" data-position="fixed" data-backbtn="true">

	<%= header_toolbar_title('Sazlin Engine') %>
        <%= header_toolbar_link('Toolbar',toolbars_path, {'data-icon'=>"gear", 'data-iconpos' => 'notext', 'data-theme' => 'c'}) %>
        <%= header_toolbar_link('Homies',root_path, {'data-icon'=>"check", 'data-theme'=>'b'}) %>



        <%#= navbar_bar %>

        <%#*<div data-role="navbar">%>
          <%= navbar_bar([navbar_link('saya',root_path,{'data-icon' => 'gear','data-theme' => 'c', 'class' => 'ui-btn-active'}),navbar_link('saya',root_path,{'data-icon' => 'gear'}),navbar_link('dia',toolbars_path,{'data-icon' => 'home'}), navbar_link('kami',toolbars_path,{'data-icon' => 'plus'})]) %>
	<%#*</div><!-- /navbar -->%>
        
      </div>
      
      <!-- end header part -->

	<div data-role="content">
      <%= yield %>
	</div>
	
	<div data-role="footer">
          
	  <h4>Page Footer</h4>
	</div><!-- /footer -->
		
  </div>
</body>
</html>
