<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag "jquery.mobile-1.0a3.min" %>
  <%= javascript_include_tag "jquery-1.5.min", "jquery.mobile-1.0a3.min" %>
  <%= csrf_meta_tag %>
</head>

<body>
	
  <div data-role="page">

      <!-- header part -->
      <div data-role="header" data-position="fixed" data-backbtn="true">
        <%= yield :header %>
      </div>
      
      <!-- end header part -->

	<div data-role="content">
      <%= yield %>
	</div>
	
	<div data-role="footer">
	  <h4>Page Footer</h4>
	</div><!-- /footer -->
		
  </div>
</body>
</html>
